:root {
  --bg-color: #ffffff;
  --text-color: #374151;
  --primary-color: #3b82f6;
  --secondary-color: #6b7280;
  --border-color: #d1d5db;
  --hover-bg-color: #f9fafb;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
header {
  background-color: #f3f4f6;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid #e5e7eb;
}